@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --gray:  #5f6366;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
}


/* Tags
--------*/

hr{
    background:  var(--gray);
    margin-top:1.5rem;
}

img{
    max-width: 100%;
}